:root {
    --main-bg-color: rgb(55, 61, 116);
    --main-bg-color-hover: rgb(41, 45, 87);
    --text-color: #FFF;
    --page-title-color: var(--main-bg-color);
    --main-content-bg-color: #FFF;
    --header-bg-color: cornflowerblue;
    
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
    transition: 0.5s ease;
}

body {
    background-color: #0e0f1d;
    color: #333;
}

h1, h2 {
    margin-bottom: 20px;
    color: var(--page-title-color);
}

a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    border-radius: 5px;
} 

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: inherit;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #FFF;
}

.table th, .table td {
    border: 1px solid var(--header-bg-color);
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
.table tbody tr td:nth-child(1) {
    padding: 0px;
    text-align: center;
    width: auto;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: var(--header-bg-color);
}

form {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background-color: var(--header-bg-color);
    border-radius: 8px;
}
form label {
    color : var(--text-color);
}
form .form-btn {
    display: flex;
    width: inherit;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.delete  {
    background-color: #900C3F;
    text-decoration: none;
    margin-left: 5px;
}
.btn:hover, header a:hover {
    background-color: var(--main-bg-color-hover);
}
.delete:hover {
    background-color: #810a38;
}
.flex {
    display: flex;
}
.justify-c {
    justify-content: center;
}
.justify-end {
   justify-content: flex-end;
}
body #main-content {
    height: 100vh;
    background-color: var(--main-content-bg-color);
}
 header nav a {
    margin-left: 5px;
 }
 header {
    background-color: var(--header-bg-color) !important;
 }
#total {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 20px;
    font-size: 20px;
}

.margin-t {
    margin-top: 5px;
}
.margin-b {
    margin-bottom: 5px;
}